.jumbotron {
	margin-bottom: 4em;
	background-size: contain;
	padding-top: 20%;
	padding-bottom: 15%;
	background-color: #18B1FF;
}

h2{
	text-align: center;
	color: #FFFFFF;
	font-size: 3em;
	font-weight: bold;

}

.description{
}

h3{
	color: #000000;
	font-weight: bold;
	font-size: 140%;
	padding-top: 2.5%;

}

h4{
	font-size: 1em;
	
}
.body{
	padding-bottom: 50px;
}
