.curriculum-info-description {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
.git-link {
  margin-bottom: 15px;
}
.hashtags {
  text-align: left;
  color: #00B3FE;
  font-size: 20px;
}
